<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
          </li>
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          {% if site.twitter_username %}
          <li><a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter_username }}</a>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </li>
          {% endif %}
       </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
         {% if site.googlescholar_userid %}
          <li>
              <a href="https://scholar.google.com/citations?user={{ site.googlescholar_userid }}">
                <i class="ai ai-google-scholar ai"></i> Google Scholar
              </a>
          </li>
          {% endif %}
          {% if site.orcid %}
          <li><a href="https://orcid.org/{{ site.orcid }}">
                  <i class="ai ai-orcid ai"></i> ORCID</a>
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
              <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fa fa-linkedin fa"></i> LinkedIn
              </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
         <ul class="social-media-list">
          <li>
        <a>{{ site.description | escape }}</a>
         </li>
          <li>
        Website Design by <a href="http://www.niebles.net/">Juan Carlos Niebles, Ph.D.</a>
        </li>
         </ul>
      </div>
    </div>

  </div>

</footer>
